/*------------------------------------*\
    #SECONDARY NAVIGATION
\*------------------------------------*/

.usa-nav {
  &__secondary {
    position: static;
    margin-top: 0;
    padding-top: 1.5rem;
    padding-bottom: 0;
    @include at-media(desktop) {
      padding-top: 0.5rem;
      padding-bottom: 1rem;
    }

    &-item {
      display: inline;
      padding-left: .25rem;
      +.usa-nav__secondary-item::before {
        color: $gray-light;
        content: "|";
        padding-right: 0.25rem;
      }
    }

    &-links {
      float: left;
      line-height: .9;
      margin-bottom: 0;
      margin-top: 0;
      a {
        color: $link-blue;
        font-size: $small-font-size;
        font-weight: $bold;
        padding-bottom: units(1);
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.3s ease-in-out;

        &:hover {
          text-decoration: none;
          border-bottom: 1px solid $link-blue;
        }

        &:visited {
          color: $color-brand-secondary;
          &:hover {
            border-bottom: 1px solid $color-brand-secondary;
          }
        }
      }
    }

    .usa-label, .usa-legend {
      margin-top: units(0);
      &.control-label {
        display: none;
      }

      input.form-autocomplete {
        background: color('white');
      }
    }

    .usa-search {
      // padding-top: 1rem;
      @include at-media(desktop) {
        padding-top: 0;
      }
      .usa-label {
        max-width: 100%;
        width: 100%;
        .usa-input {
          border-radius: .25rem 0 0 .25rem;
          width: 100%;
          max-width: 100%;
          @include at-media(desktop) {
            width: 15em;
          }
        }
      }
    }
  }
}
