/*------------------------------------*\
    #COLOR VARIABLES
\*------------------------------------*/

$color-brand-primary: #212463; // header and footer background color; "indigo-80v"; old header color is #103881; footer #0c285a
$color-brand-secondary-dark: #711e6c; // search button hover color; "violet-warm-70v"; old color is #864381
$color-brand-secondary: #93348c; // main nav link hover and border bottom color, search button color; "violet-warm-60v"; old color is #a74593

$accent-blue-darkest: #1b2b85;
$accent-blue-dark: #0a589a;
$accent-blue: #2378c3; // main nav active link color; "blue-50"; old color is #1c78c8
$accent-blue-light: #49a1eb; // accent blue border top

$accent-pink-dark: #853775;
$accent-pink: #a94294; // mega menu dropdown featured card accent color

$black: #000000;
$gray-darkest: #1b1b1b;
$gray-darker: #2a2a2a;
$gray-dark: #444444; // text color
$gray: #71767a;
$gray-light: #a9aeb1;
$gray-lighter: #cdcdcd;
$gray-lightest: #f2f2f2;
$white: #ffffff;

$link-blue: #0050d8; // link color; "blue-warm-60v"; old color is #004fba

$line-color: $gray;
$line-color-light: #a2a6a9;
$line-color-lighter: #dfe1e2; // hr

// @todo tone down :focus color on inputs, etc.


/*
 * Text Colors
 * 1) These are non-linked text colors, such as body copy.
 */
$color-text: $gray-dark;
$color-text-subtle: $gray;
$color-text-light: $white;

/*
 * Heading Colors
 * 1) These are non-linked heading colors, such as h2, h3, etc.
 */
$color-heading-primary: $gray-dark;
$color-heading-secondary: $color-brand-primary;
$color-heading-accent: $color-brand-secondary;

/*
 * Text Link Colors
 * 1) These are for linked text, such as a link found within an article,
 *    navigation link, footer link, etc.
 */
$color-text-link: $link-blue;
$color-text-link-hover: #1a4480;
$color-text-link-visited: $link-blue;
$color-text-link-active: $color-brand-primary;
$color-text-link-light: $white;


/*
pull down link text: #2b2b2b
covid banner: #be2c2c
footer box a:hover: #a4c9fc
read more icon: '\f18e', accent-pink
*/