.usa-form,
.usa-search {
  .usa-input,
  .usa-range,
  .usa-select,
  .usa-textarea {
    border: 1px solid $gray-light;
    border-radius: 5px;
  }
}

// Contact Us form.
.webform-button--submit {
  margin-top: 1rem;
}
